
* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fffffe;
    font-size: 3rem !important;
    font-weight: 900 !important;
}

p {
    color: #94a1b2;
    font-size: 2rem;
}

#work {
    background-color: #242629;
    height: 100vh;
}
