{% extends 'base.html' %}
{% set active_page = 'about' %}

{% block title %}About{% endblock title %}


{% block content %}

    <section id="about" class="bg-[#16161a]">
        <div class="px-5 py-10 lg:py-16 grid gap-10 auto-rows-auto lg:auto-cols-auto lg:grid-flow-col justify-items-center">
            <div class="grid gap-5 auto-rows-auto grid-flow-row lg:max-w-sm text-center place-items-center">
                <div class="w-50 h-50 lg:w-96 lg:h-fit">
                    <img src="{{ url_for('static', filename='images/headshot.jpg') }}"
                         class="border-4 border-dashed lg:hover:border-solid border-black rounded-full" alt="headshot">
                </div>
                <h1>About Me, not from me</h1>
                <p>Don't take my work for it</p>
                <p> In the near future we'll have something cool about this guy</p>
            </div>
            <div class="max-w-lg">
                <h2>Who am I</h2>
                <p class="leading-relaxed">My name is Chaim pronounced (kh AA y uh m) it's a Hebrew word, חיים, meaning life or to be alive,
                    commonly associated with l'chaim (to life) when a toast is being made. </p>
                <div class="name-audio w-1/2">
                    <audio controls class="w-full" src="{{ url_for('static', filename='files/name.mp3') }}"></audio>
                </div>

            </div>
        </div>
    </section>


{% endblock content %}
