{% extends 'base.html' %}
{% set active_page = 'about' %}

{% block title %}About{% endblock title %}


{% block content %}

    <section id="about" class="bg-[#16161a] h-screen">
        <div class="px-10 pt-5 lg:px-20 lg:py-28 h-full">
            <div class="md:pl-24 lg:pr-24 lg:max-w-lg text-center">
                <div class="w-50 h-50 lg:w-96 lg:h-fit">
                    <img src="{{ url_for('static', filename='images/headshot.jpg') }}"
                     class="border-4 border-dashed lg:hover:border-solid border-black rounded-full" alt="headshot">
                </div>
                <h1 class="text-center">About Me, not from me</h1>
                <p>Don't take my work for it</p> <br>
                <p class="text-center"> In the near future we'll have something cool about this guy</p>
            </div>
        </div>
    </section>


{% endblock content %}
