{% extends 'base.html' %}

{% block title %}Home{% endblock title %}


{% block content %}
    <section id="introduction" class="bg-[#16161a]">
        <div class="main px-5 pt-8 pb-16 grid gap-4 grid-rows-auto grid-flow-rows lg:grid-cols-auto lg:grid-flow-col h-fit">
            <div class="place-self-center">
                <div class="intro-text lg:px-24 lg:max-w-lg">
                    <div class="text-center">
                        <h1>Hello, I'm <span
                                class="animate-[pulse_4s_ease-in-out_infinite] underline decoration-wavy decoration-4 decoration-purple-900 underline-offset-4">Chaim</span>.
                        </h1>
                        <h2 class="pt-2">Software Engineer</h2>
                        <hr class="border-b-2 rounded bg-gray-600 border-gray-600 mx-auto w-3/5">
                        <h2>Photographer</h2>
                    </div>
                </div>
            </div>
            <div class="grid gap-4 grid-rows-auto grid-flow-rows lg:mr-24">
                <div class="place-self-start">
                    <div class="synopsys lg:max-w-xl">
                        <h2>Who am I</h2>
                        <div class="p-3 shadow-md shadow-current lg:hover:shadow-current lg:hover:shadow-lg lg:active:shadow-inner lg:active:shadow-current rounded-md bg-[#242629] cursor-pointer">
                            <p>
                                I am a <span
                                    class="underline decoration-wavy decoration-3 decoration-blue-800 underline-offset-4">Software Engineer</span>
                                who is enthusiastic about developing attractive and functional
                                websites and programs. Thank you for dropping by. さよなら ✌🏻
                            </p>
                            <p class="italic text-[8px] invisible lg:visible">(psst click me)</p>
                        </div>
                    </div>
                </div>
                <div class="place-self-end">
                    <div class="synopsys pt-5 lg:max-w-xl place-self-end">
                        <div class="p-3 shadow-md shadow-current rounded-md bg-[#242629] lg:hover:animate-bounce">
                            <p>In addition to being a SE, I am a landscape <span
                                    class="underline decoration-wavy decoration-3 decoration-emerald-900 underline-offset-4">photographer</span>
                                passionate about capturing the best moments of life and using them to inspire my work.
                            </p>
                            <p>I also enjoy being outside and exploring new places.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="work" class="bg-[#242629]">
        <div class="px-10 pt-5 lg:px-20 lg:py-28 h-full">
            <div class="md:pl-24 lg:pr-24 lg:max-w-lg text-center">
                <h1>Things I'm working on</h1>
            </div>
        </div>
    </section>
    <section id="gallery" class="bg-[#16161a]">
        <div class="px-10 pt-5 lg:px-20 lg:py-28 h-full">
            <div class="md:pl-24 lg:pr-24 lg:max-w-lg text-center">
                <h1 class="text-center">Gallery</h1>
            </div>
        </div>
    </section>
{% endblock content %}
