<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Chaim's Portfolio</title>
</head>
{% include 'navbar.html' %}
<body>
<div class="layout">
    <section id="introduction" class="w-full">
        <div class="p-3 shadow-md hover:shadow-inner shadow-[#94a1b2] opacity-75 rounded-md bg-slate-800 w-auto">
            <h1>Who am I</h1>
            <p>I am a Software Engineer and I love to code.</p>
        </div>
    </section>
    <section id="work">
        <div class="">
            <h1>What I do</h1>
            <p>I am a Software Engineer and I love to code.</p>
        </div>
    </section>
    <section id="about-me">
        <div class="">
            <h1>What I do</h1>
            <p>I am a Software Engineer and I love to code.</p>
        </div>
    </section>
</div>
<script src="https://cdn.tailwindcss.com"></script>
</body>
</html>