<header>
    <nav class="bg-white px-2 sm:px-4 py-2.5 dark:bg-[#16161a] border-b border-[#242629]">
        <div id="collapse"
             class="container flex flex-wrap justify-between items-center mx-auto px-5 py-2">
            <a href="{{ url_for('redesign') }}" class="flex items-center" title="Chaim's Site">
                <img src="{{ url_for('static', filename='images/logo.png') }}" class="mr-3 h-6 sm:h-9 text-white"
                     alt="Logo">
            </a>
            <button data-collapse-toggle="mobile-menu" type="button"
                    class="transition-all inline-flex items-center p-2 ml-3 text-sm text-white rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="mobile-menu" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 12h8m-8 6h16"></path>
                </svg>
            </button>
            <div class="hidden w-full lg:block lg:w-auto" id="mobile-menu">
                <ul class="flex flex-col mt-4 lg:flex-row lg:space-x-8 lg:mt-0 lg:text-xl lg:font-semibold">
                    <li>
                        <a href="{{ url_for('redesign') }}"
                           class="{{ 'bg-blue-700 lg:text-gray-400' if active_page == 'home' }} block py-2 pr-4 pl-3 rounded lg:bg-transparent lg:p-0 text-white hover:text-gray-400"
                           aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('about') }}"
                           class="{{ 'bg-blue-700 lg:text-gray-400' if active_page == 'about' }} block py-2 pr-4 pl-3 rounded lg:bg-transparent lg:p-0 text-white hover:text-gray-400">About</a>
                    </li>
                    <li>
                        <a href="{{ url_for('redesign') }}#contact"
                           class="block py-2 pr-4 pl-3 rounded lg:bg-transparent lg:p-0 text-white hover:text-gray-400">Contact</a>
                    </li>
                    <li>
                        <a href="https://chaimsblog.herokuapp.com"
                           class="block py-2 pr-4 pl-3 rounded lg:bg-transparent lg:p-0 text-white hover:text-gray-400">Blog</a>
                    </li>
                    <li>
                        <a href="{{ url_for('gallery') }}"
                           class="{{ 'bg-blue-700 lg:text-gray-400' if active_page == 'gallery' }} block py-2 pr-4 pl-3 rounded lg:bg-transparent lg:p-0 text-white hover:text-gray-400">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>