<section class="navbar">
    <nav class="navbar sticky top-0">
        <div class="nav-wrapper flex flex-row bg-violet-800 p-5 space-x-4">
            <div class="">
                <a href="" class="brand-logo">Logo</a>
            </div>
            <ul id="nav-list" class="flex flex-row space-x-4">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </div>
    </nav>
</section>