{% extends 'base.html' %}
{% set active_page = 'upload' %}

{% block title %}Upload{% endblock title %}


{% block content %}
    <div class="bg-[#16161a] h-screen text-white">
        <div id="success-message" class="">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li><p class="text-center">{{ message }}</p></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <form method="post" enctype="multipart/form-data" action="{{ url_for('upload') }}">
            <input type="file" name="photo" value="Choose an Image">
            <input class="border-2 border-white" type="submit" value="Upload">
        </form>
    </div>
    <div>

    </div>

{% endblock content %}